// Specific CSS for your home-page

@import "../components/index.scss";
@import "projects.scss";
@import "small.scss";
@import "med.scss";
@import "large.scss";
@import "../config/fonts.scss";

html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
}

h1 {
  font-size: 72px;
}
h2 {
  font-family: "silver";
  font-size: 60px;
}
h1,
h3 {
  color: #263d42;
  font-family: "Anton", sans-serif;
}
h5 {
  color: #f441a5;
}

.main {
  border-radius: 8px;
}

.intro {
  text-align: center;
}

.splat {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(../../assets/images/about1.jpg);
  background-size: cover;
  background-position: center;
}

.splat:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../assets/images/splash.jpg);
  background-size: 1800px;
  background-position: center;
  mix-blend-mode: screen;
}

.label {
  position: absolute;
  top: 13%;
  font-family: monospace;
  background: black;
  padding: 4px;
  color: white;
  width: 22ch;
}
.type {
  margin-bottom: 0 !important;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  animation: type 3s steps(21) 1s 1 normal both,
    blinkTextCursor 800ms steps(21) infinite normal;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 21ch;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
.red {
  color: rgb(240, 113, 27);
}
.blue {
  color: rgb(26, 144, 250);
}
.yellow {
  color: rgb(247, 203, 84);
}
.green {
  color: rgb(118, 201, 40);
}
.purple {
  color: rgb(175, 116, 223);
}
.portfolio {
  p,
  a,
  h5 {
    font-family: monospace;
  }
  p {
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 20px;
  }
  h5 {
    padding: 12px;
  }
  i {
    color: white;
  }
}

.stack {
  position: absolute;
  top: 35%;
  left: 7%;
  #html5 {
    position: absolute;
    top: -48%;
    left: -17%;
    background: black;
    transform: rotate(-2deg);
  }
  #css3 {
    position: absolute;
    top: -15%;
    left: -30%;
    background: yellow;
    transform: rotate(-7deg);
  }
  #js {
    background: rgb(158, 13, 13);
    padding: 6px;
    border-radius: 4px;
    position: absolute;
    top: 28%;
    left: -25%;
    transform: rotate(-4deg);
  }
  #rails {
    position: absolute;
    top: 75%;
    left: -20%;
    background: lightgrey;
  }
  #postgres {
    position: absolute;
    top: 100%;
    left: -10%;
    background: rgb(139, 255, 255);
    transform: rotate(-2deg);
  }
  #heroku {
    position: absolute;
    top: 102%;
    left: -37%;
    background: pink;
    transform: rotate(5deg);
  }
  #react {
    padding: 6px;
    background: white;
    border: 1px solid cyan;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -37%;
    transform: rotate(15deg);
  }
}
#about-empire {
  margin-top: -37px;
  filter: drop-shadow(-3px -3px 0px rgba(218, 4, 142, 1));
}
