// Specific CSS for your home-page

@import "../components/index.scss";
@import "projects.scss";
@import "small.scss";
@import "med.scss";
@import "large.scss";
@import "../config/fonts.scss";
@import "about.scss";

.fa-spinner {
  margin-left: 48%;
  margin-top: 30%;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: white !important;
}

h1 {
  font-size: 72px;
}
h2 {
  font-family: "silver";
  font-size: 60px;
}
h1,
h3 {
  color: #263d42;
  font-family: "Anton", sans-serif;
}
h5 {
  color: #f441a5;
}

.page {
  // border: 2px solid red;
  filter: blur(0px);
  transition: 0.5s;
  padding: 0;
  // transform: scale(5);
}

.main {
  display: none;
  border-radius: 8px;
}

.square0 {
  position: absolute;
  top: 0;
  right: 12%;
  height: 100vh;
  width: 400px;
  // border-left: 40px solid red;
  background: red;
  // margin: auto;
  transform: skew(-32deg, 0deg);
}
.square {
  position: absolute;
  top: 0;
  right: 10%;
  height: 100vh;
  width: 400px;
  // border-left: 40px solid red;
  background: white;
  // box-shadow: 12px 12px 12px black;
  // margin: auto;
  transform: skew(-30deg, 0deg);
}

.splat {
  margin-top: 0px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(../../assets/images/4491.jpg);
  background-size: cover;
  background-position: center;

  // background: linear-gradient(blue, red, green);
  background-blend-mode: darken;
}

.splat:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../assets/images/splash.jpg);
  background-size: 1800px;
  background-position: center;
  mix-blend-mode: screen;
}

.label {
  position: absolute;
  top: 13%;
  font-family: monospace;
  background: black;
  padding: 4px;
  color: white;
  width: 22ch;
}
.type {
  margin-bottom: 0 !important;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  overflow: hidden;
  white-space: nowrap;
  width: 0ch;
}

.type-anim {
  animation: type 2.5s steps(21) 0.3s 1 normal both,
    blinkTextCursor 800ms steps(21) infinite normal;
}

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 21ch;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
.red {
  color: rgb(240, 113, 27);
}
.blue {
  color: rgb(26, 144, 250);
}
.yellow {
  color: rgb(247, 203, 84);
}
.green {
  color: rgb(118, 201, 40);
}
.purple {
  color: rgb(175, 116, 223);
}
.portfolio {
  p,
  a,
  h5 {
    font-family: monospace;
  }
  p {
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 20px;
  }
  h5 {
    padding: 12px;
  }
  i {
    color: white;
  }
}

.stack {
  position: absolute;
  top: 35%;
  left: 7%;
  #html5 {
    position: absolute;
    top: -48%;
    left: -17%;
    background: black;
    transform: rotate(-2deg);
  }
  #css3 {
    position: absolute;
    top: -15%;
    left: -30%;
    background: yellow;
    transform: rotate(-7deg);
  }
  #js {
    background: rgb(158, 13, 13);
    padding: 6px;
    border-radius: 4px;
    position: absolute;
    top: 28%;
    left: -25%;
    transform: rotate(-4deg);
  }
  #rails {
    position: absolute;
    top: 75%;
    left: -20%;
    background: lightgrey;
  }
  #postgres {
    position: absolute;
    top: 100%;
    left: -10%;
    background: rgb(139, 255, 255);
    transform: rotate(-2deg);
  }
  #heroku {
    position: absolute;
    top: 102%;
    left: -37%;
    background: pink;
    transform: rotate(5deg);
  }
  #react {
    padding: 6px;
    background: white;
    border: 1px solid cyan;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -37%;
    transform: rotate(15deg);
  }
}
#about-empire {
  margin-top: -37px;
  filter: drop-shadow(-3px -3px 0px rgba(218, 4, 142, 1));
}
#mail,
#linked,
#git {
  color: #555;
}

.about-page {
  display: flex;
  justify-content: space-around;
  margin: 5% auto;
}
.gundam {
  height: 450px;
}
.red-box {
  // display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 2px solid #da048e;
  background: rgba(218, 4, 142, 0.3);
  width: 0px;
  height: 0px;
}
.blue-box {
  // display: none;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #0ae1d4;
  background: rgba(10, 225, 212, 0.3);
  width: 0px;
  height: 0px;
}
.more-box {
  display: none;
  position: absolute;
  top: 20%;
  right: 15%;

  height: 450px;
  width: 380px;
}
.more-text {
  padding: 16px;
  height: 100%;
  width: 100%;
  background: transparent;
  display: none;
  transition: 1s;
  color: black;
  font-size: 18px;

  z-index: 1 !important;
}
.outer-page {
  // position: relative;
}
.block {
  display: none;
  height: 120vh;
  width: 30vw;
  background: blue;
  border-left: 20px solid magenta;
  position: absolute;
  top: -10px;
  right: -40px;
  transform: rotate(5deg);
  opacity: 0.5;
}
