@media only screen and (max-width: 900px) {
  .navbar-lewagon {
    display: none;
  }

  .small-nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
    display: block;
    position: fixed;

    top: 0px;
    right: 10px;
    z-index: 200;
    // background: white;
    width: 100%;
    .nav-box {
      margin-right: 40px;
      font-size: 26px;
      line-height: 70px;
      display: block;
      cursor: pointer;
      width: 26px;
      float: right;
    }
  }

  .menu {
    margin-right: 30px;
    text-align: center;
    width: 100%;
    background: white;
    // opacity: 0.9;
    display: none;
    // z-index: 200;
  }
  .menu a {
    clear: right;
    text-decoration: none !important;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
    display: block;
    border-bottom: 1px solid gray;
  }

  #toggle {
    display: none;
  }

  #toggle:checked + .menu {
    display: block;
  }

  .intro {
    margin-top: 120px;
  }

  .paint-box {
    min-height: 60vh;
    display: flex;
    // justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
  }

  .paint-box a {
    position: relative;
    width: 300px;
    height: 75px;
    margin: 10px 0;
    font-size: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    transition: 0.5s;
    color: black;
  }

  .paint-box a:hover {
    color: #fff;
    // font-family: 'Nanum Brush Script', cursive;
    // transition-delay: 1s;
  }

  .paint-box a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: url(../images/btn-bg1.png);
    background-size: cover;
    transform-origin: left;
    transition: 0.5s;
  }

  .paint-box a:nth-child(2):before {
    background: url(../images/btn-bg2.png);
    background-size: cover;
  }

  .paint-box a:nth-child(3):before {
    background: url(../images/btn-bg4.png);
    background-size: cover;
  }

  .paint-box a:hover:before {
    width: 100%;
    color: white;
  }

  .paint-box a span {
    position: relative;
    z-index: 1;
  }

  .about-text {
    display: none;
  }
  .about-text-2 {
    display: block;
  }

  .iru-contents,
  .beats-contents {
    img {
      width: 300px;
      height: 180px;
    }
  }

  // .contact-frame {
  //   margin: auto;
  //   // border: 2px solid black;
  //   position: relative;
  //   width: 100%;
  //   height: 100vh;
  //   // min-height: 75vh;
  //   background: url(../../assets/images/form6.png);
  //   background-size: cover;
  //   background-position: center;
  // }

  .contact-box {
    // position: absolute;
    // top: 30%;
    // left: 6%;
    width: 88.6%;
    height: 57%;
    // max-width: 500px;
    // margin: 80px auto;
    // padding: 20px;
    background: white;
    border-radius: 4px;
    margin: 0 auto -20px auto;
    padding: 0px 26px 0px 26px;
  }

  .splat2 {
    margin-top: -40px;
    position: relative;
    width: 100%;
    min-height: 50vh;
    background: url(https://streetsonart.com/wp-content/uploads/2014/07/Stinkfish-takes-his-street-art-to-London-to-create-this-briliant-portrait-of-a-woman.jpg);
    background-size: fill;
    background-position: 50% 0%;
    z-index: -2;
  }
}
