<!DOCTYPE html>
<html>
  <head>
    <!-- INSERT GOOGLE ANALYTICS HERE -->

    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- For Bootstrap responsiveness -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Seigo Jinbo</title>
    <!-- Comment this out when meta tags configured -->
    <%#= display_meta_tags %>
    <%= favicon_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "app" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">


    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous">
    </script>
    <script type="text/javascript">

      $(document).ready(function(){

        $(window).scroll(function(){
          if($(this).scrollTop() < 800){
            $('.navbar-lewagon').removeClass('show');
            $('.navbar-lewagon').addClass('hide');
          }
          else {
            $('.navbar-lewagon').removeClass('hide');
            $('.navbar-lewagon').addClass('show');
          }

          if($(document).height() - $(this).height() - $(this).scrollTop()){
            $('.navbar-bottom').removeClass('bottom-show');
            $('.navbar-bottom').addClass('bottom-hidden');
          }
          else {
            $('.navbar-bottom').removeClass('bottom-hidden');
            $('.navbar-bottom').addClass('bottom-show');
          }


          // if($(this).scrollTop() > 1400){
          //   // $('.navbar-lewagon').removeClass('show');
          //   $('body').addClass('dark');
          // }
          // else {
          //   $('body').removeClass('dark');
          // }
        })

      })

    </script>

  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag "bundle" %>
  </body>
</html>
