.navbar-lewagon {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 20;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.hide {
  opacity: 0;
  transition: 0.5s;
  left: -60px;
}

.show {
  opacity: 1;
  transition: 0.5s;
}



.navbar-lewagon a {
  text-decoration: none;
  opacity: 0.6;
}

.navbar-lewagon a:hover {
  opacity: 1;
}
