.navbar-lewagon {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 20;
  a {
    font-size: 20px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.hide {
  opacity: 0;
  transition: 0.5s;
  left: -60px;
}

.show {
  opacity: 1;
  transition: 0.5s;
}

.navbar-lewagon a {
  text-decoration: none;
  opacity: 0.6;
}

.navbar-lewagon a:hover {
  opacity: 1;
}

.navbar-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 40px;
  left: 0;
  position: fixed;
  z-index: 20;
  i {
    padding: 8px;
    color: #eeeeee;
  }
}
.navbar-bottom :hover {
  color: #c8d6af;
  transition: 300ms;
}

.bottom-hidden {
  opacity: 0;
  transition: 0.5s;
  bottom: -60px;
}

.bottom-show {
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.35s;
}
