<div class="about-contents">I’m Seigo. I grew up in Portland, Oregon where I worked as a data analyst to
	fund my hobby as a musician. I moved to Tokyo in 2017 to study Japanese and get in touch with my roots. In
	2020 I enrolled in full-time coding bootcamp at Le Wagon where I learned everything from databases,
	product design, UI/UX, and everything that goes into developing web applications. Now I’m seeking new
	projects to further expand my knowledge and skills.</div>