<div class="main container mt-2">
  <div class="navbar-lewagon hide">
    <a href="#top">home</a>
    <a href="#about">about</a>
    <a href="#projects">projects</a>
    <a href="#contact">contact</a>
  </div>
  <div class="small-nav">
    <label class='nav-box' for="toggle">&#9776</label>
    <input type="checkbox" id="toggle" />
    <div class="menu">
      <a href="#top" class="home">Home</a>
      <a href="#about">About</a>
      <a href="#projects">Projects</a>
      <a href="#contact">Contact</a>
    </div>
  </div>
  <div class="intro">
    <div class="test">
    </div>
    <h1>Seigo Jinbo</h1>
    <h3>Full Stack Web Developer</h3>
    <!-- <label for="toggle">&#9776</label> -->
    <div class="paint-box">
      <a class='button-0' href="#about"><span>About</span></a>
      <a class='button-0' href="#projects"><span>Projects</span></a>
      <a class='button-0' href="#contact"><span>Contact</span></a>
    </div>
  </div>
  <div id="about">
    <section class="splat">
      <h2>About me</h2>
      <div class="about-text align-items-end">
        <p>Hi. I'm a programmer. I like math and puzzles.</p>
        <p>I guess I like art and design, too </p>
        <a href="about">learn more</a>
      </div>
    </section>
  </div>
  <div id="projects">
    <h2>Projects</h2>
    <div class="iru">
      <h3 class="d-flex justify-content-right">Iru</h3>
      <h5>Lead Developer + Backend</h5>
      <div class="iru-contents">
        <%= image_tag "iru_home.png", alt: "alttext", class: "iru-pic"%>
        <div class="iru-description">
          <p>Iru is a web application that promotes community activity and growth by connecting non-profit organizations
            with crowd funding, donations and volunteers. Features includes geocoded map locations and stripe credit
            payment. </p>
          <div class="project-buttons d-flex">
            <a class='button mr-1' href="https://github.com/SeigoJinbo/iru"><span>Code</span></a>
            <a class='button' href="www.iru.world"><span>Site</span></a>
          </div>
          <div class='icons d-flex justify-content-space-around'>
            <i class="devicon-html5-plain-wordmark fa-2x"></i>
            <i class="devicon-css3-plain-wordmark fa-2x"></i>
            <i class="devicon-rails-plain-wordmark fa-2x"></i>
            <i class="devicon-postgresql-plain-wordmark fa-2x"></i>
            <i class="devicon-github-plain-wordmark fa-2x"></i>
            <i class="devicon-heroku-plain-wordmark colored fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="beats">
      <h3>Foxy Beats</h3>
      <h5>Lead Developer + Backend</h5>
      <div class="beats-contents">
        <%= image_tag "foxy_beats.png", alt: "alttext", class: "foxy-beats-pic"%>
        <div class="beats-description">
          <p>Tired of listening to music for free on the internet? Foxy Beats is a market place for vinyl record
            rentals. Ship your old records to strangers to earn some cash, hopefully it returns in the same condition!
            Completed in a small team in one week </p>
          <div class="project-buttons d-flex">
            <a class='button mr-1' href='https://github.com/SeigoJinbo/foxy_beats'><span>Code</span></a>
            <a class='button' href="www.iru.world"><span>Site</span></a>
          </div>
          <div class='icons'>
            <i class="devicon-html5-plain-wordmark fa-2x"></i>
            <i class="devicon-css3-plain-wordmark fa-2x"></i>
            <i class="devicon-rails-plain-wordmark fa-2x"></i>
            <i class="devicon-postgresql-plain-wordmark fa-2x"></i>
            <i class="devicon-github-plain-wordmark fa-2x"></i>
            <i class="devicon-heroku-plain-wordmark colored fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="contact">
    <div class="contact-frame">
      <h2>Contact</h2>
      <!-- <section> -->
      <div class="contact-box">
        <form id="contact-form" method="post" action="https://formspree.io/f/moqpnbro">
          <div class="form-group">
            <label for="Name" class="label">Your name</label>
            <div class="input-group">
              <input type="text" id="Name" name="Name" class="form-control" value="name" required>
            </div>
          </div>
          <div class="form-group">
            <label for="Email" class="label">Your email address</label>
            <div class="input-group">
              <input type="email" id="Email" name="Email" class="form-control" value="email" required>
            </div>
          </div>
          <div class="form-group">
            <label for="Message" class="label">Your message</label>
            <div class="input-group">
              <textarea id="Message" name="Message" class="form-control" rows="4" value="message" maxlength="3000"
                required>message</textarea>
            </div>
          </div>
          <div class="form-group d-flex justify-content-end">
            <button type="submit" id="form-button" class="form-button">Send Message</button>
          </div>
        </form>
      </div>
      <!-- <div id="status" class="success">Success</div> -->
      <!-- </section> -->
    </div>
    <script src="assets/javascripts/index.js"></script>
  </div>
</div>
<section class="splat2">
</section>
<div class="navbar-bottom bottom-hidden">
  <a href="mailto:seigojinbo@gmail.com"><i class="far fa-envelope fa-2x"></i></a>
  <a href="https://www.linkedin.com/in/seigojinbo"><i class="fab fa-linkedin fa-2x"></i></a>
  <a href="'https://github.com/SeigoJinbo'"><i class="fab fa-github fa-2x"></i></a>
</div>
<!--   <div class="icons">
    <i class="devicon-html5-plain"></i>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-html5-plain-wordmark colored"></i>
    <i class="devicon-css3-plain"></i>
    <i class="devicon-css3-plain-wordmark"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <i class="devicon-rails-plain-wordmark"></i>
    <i class="devicon-rails-plain-wordmark colored"></i>
    <i class="devicon-ruby-plain-wordmark"></i>
    <i class="devicon-github-plain-wordmark"></i>
    <i class="devicon-heroku-plain-wordmark colored"></i>
  </div> -->
