<!-- <div class="main container mt-2"> -->
<div class="navbar-lewagon hide">
  <a href="#top">home</a>
  <a href="#about">about</a>
  <a href="#projects">projects</a>
  <a href="#contact">contact</a>
</div>
<div class="small-nav">
  <label class='nav-box' for="toggle">&#9776</label>
  <input type="checkbox" id="toggle" />
  <div class="menu">
    <a href="#top" class="home">Home</a>
    <a href="#about">About</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
  </div>
</div>
<div class="intro">
  <h1>Seigo Jinbo</h1>
  <h3>Full Stack Web Developer</h3>
  <!-- <label for="toggle">&#9776</label> -->
  <div class="paint-box">
    <a class='button-0' href="#about"><span>About</span></a>
    <a class='button-0' href="#projects"><span>Projects</span></a>
    <a class='button-0' href="#contact"><span>Contact</span></a>
  </div>
</div>
<div id="about">
  <div class="main container mt-2">
    <div class="about-contents">
      <section class="splat">
        <h2>About me</h2>
        <div class="about-text align-items-end">
          <p>Hi. I'm a programmer. I like math and puzzles.</p>
          <p>I guess I like art and design, too </p>
          <a href="#">learn more</a>
          <!-- <a href="#" class="port-link">projects</a> -->
        </div>
      </section>
    </div>
  </div>

  <button class="port-link" href="#">link</button>
  <button class="port-link2" href="#">link2</button>
  <div class="portfolio hidden">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages"
          aria-selected="false">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings"
          aria-selected="false">Settings</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="iru">
          <div class="title-row">
            <div class="title-col">
              <h3 class="d-flex justify-content-right">Iru</h3>
              <h5>Lead Backend Developer</h5>
            </div>
            <div class='icons d-flex justify-content-space-around'>
              <i class="devicon-html5-plain-wordmark fa-2x"></i>
              <i class="devicon-css3-plain-wordmark fa-2x"></i>
              <i class="devicon-rails-plain-wordmark fa-2x"></i>
              <i class="devicon-postgresql-plain-wordmark fa-2x"></i>
              <!-- <i class="devicon-github-plain-wordmark fa-2x"></i> -->
              <i class="devicon-heroku-plain-wordmark colored fa-2x"></i>
              <a href="'https://github.com/SeigoJinbo/iru'"><i class="fab fa-github fa-2x"></i></a>
            </div>
          </div>
          <div class="iru-contents">
            <a href="https://www.iru.world"><%= image_tag "iru_home.png", alt: "alttext", class: "iru-pic"%></a>
            <div class="iru-description">
              <p>Iru is a web application that promotes community activity and growth by connecting non-profit
                organizations
                with crowd funding, donations and volunteers. Features includes geocoded map locations and stripe
                credit
                payment. </p>
              <div class="project-buttons d-flex">
                <a class='button mr-1' href="https://github.com/SeigoJinbo/iru"><span>Code</span></a>
                <a class='button mr-1' href="'https://github.com/SeigoJinbo/iru'"><span>Site</span></a>
              </div>
              <div class='l-icons d-flex justify-content-space-around'>
                <i class="devicon-html5-plain-wordmark fa-2x"></i>
                <i class="devicon-css3-plain-wordmark fa-2x"></i>
                <i class="devicon-rails-plain-wordmark fa-2x"></i>
                <i class="devicon-postgresql-plain-wordmark fa-2x"></i>
                <!-- <i class="devicon-github-plain-wordmark fa-2x"></i> -->
                <i class="devicon-heroku-plain-wordmark colored fa-2x"></i>
                <a href="'https://github.com/SeigoJinbo/iru'"><i class="fab fa-github fa-2x"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">...</div>
      <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
    </div>
    <!-- </div> -->
    <!-- <div class="container projects"> -->
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"
    integrity="sha512-8Wy4KH0O+AuzjMm1w5QfZ5j5/y8Q/kcUktK9mPUVaUoBvh3QPUZB822W/vy7ULqri3yR8daH3F58+Y8Z08qzeg=="
    crossorigin="anonymous"></script>
  <script>
    const tab = () => {
      $('#myTab li:last-child a').tab('show')
    }

    const portLink = document.querySelector(".port-link");
    portLink.addEventListener("click", () => {
      TweenMax.to('.portfolio', 0.5, { x: 2000, ease: Circ.easeOut });
      TweenMax.to('.portfolio', 0.5, { css: { height: "50vh" }, delay: 1 });
    })
    const portLink2 = document.querySelector(".port-link2");
    portLink2.addEventListener("click", () => {
      TweenMax.to('.portfolio', 0.5, { height: 1 });
      TweenMax.to('.portfolio', 0.5, { x: -2000, delay: 1 });
    })

  </script>



  <!-- </div> -->