<div class="main container mt-2">
  <div class="navbar-lewagon hide">
    <a href="#top">home</a>
    <a href="#about">about</a>
    <a href="#projects">projects</a>
    <a href="#contact">contact</a>
  </div>
  <div class="intro">
    <h1>Seigo Jinbo</h1>
    <h3>Full Stack Web Developer</h3>


    <div class="paint-box">
      <a class='button-0' href="#about"><span>About</span></a>
      <a class='button-0' href="#projects"><span>Projects</span></a>
      <a class='button-0' href="#contact"><span>Contact</span></a>
    </div>
  </div>


  <div class>
    <div id="about">

      <section>
        <h2>About Me</h2>
        <div class="about-text align-items-end">
        <p>Hi. I'm a programmer. I like math and puzzles.</p>
        <p>I guess I like art and design, too  </p>
        a
        </div>
      </section>


    </div>
<!--  <a class='button' href="#"><span>button</span></a>
  <a class='button' href="#"><span>button</span></a> -->

    <div id="projects">
      <h2>Projects</h2>


      <div class="iru">
        <h3 class="d-flex justify-content-right">Iru</h3>
        <h5>Lead Developer + Backend</h5>

        <div class="iru-contents row">
          <div class="lg-col-8 sm-col-12">
            <%= image_tag "iru_home.png", alt: "alttext" %>
          </div>
          <div class="iru-description lg-col-4 sm-col-12 pl-4">

            <p>CleverCloset is a web application that helps reduce your impact on the environment by bringing awareness to the clothes that you already own, donating your unused clothes, and lending and borrowing clothes with your friends. You can also have fun making looks for yourself and for your friends. My team and I completed this project in two weeks.</p>
            <div class="d-flex">
              <a class='button mr-1' href="https://github.com/SeigoJinbo/iru"><span>Code</span></a>
              <a class='button' href="www.iru.world"><span>Site</span></a>
            </div>
            <div class='icons'>
              <i class="devicon-html5-plain-wordmark"></i>
              <i class="devicon-css3-plain-wordmark"></i>
              <i class="devicon-rails-plain-wordmark"></i>
              <i class="devicon-postgresql-plain-wordmark"></i>
              <i class="devicon-github-plain-wordmark"></i>
            </div>
          </div>


        </div>

      </div>

      <div class="beats">
        <h3>Foxy Beats</h3>
        <h5>Lead Developer + Backend</h5>
        <div class="beats-contents row">
          <div class="beats-description lg-col-4 sm-col-12 order-sm-2 order-xs-2 order-lg-1 pr-4">
            <p>CleverCloset is a web application that helps reduce your impact on the environment by bringing awareness to the clothes that you already own, donating your unused clothes, and lending and borrowing clothes with your friends. You can also have fun making looks for yourself and for your friends. My team and I completed this project in two weeks.</p>
            <div class="d-flex">
              <a class='button mr-1' href='https://github.com/SeigoJinbo/foxy_beats'><span>Code</span></a>
              <a class='button' href="www.iru.world"><span>Site</span></a>
            </div>
            <div class='icons'>
              <i class="devicon-html5-plain-wordmark"></i>
              <i class="devicon-css3-plain-wordmark"></i>
              <i class="devicon-rails-plain-wordmark"></i>
              <i class="devicon-postgresql-plain-wordmark"></i>
              <i class="devicon-github-plain-wordmark"></i>
            </div>
          </div>

          <div class="lg-col-8 sm-col-12 order-lg-2 order-sm-1 ">
            <%= image_tag "foxy_beats.png", alt: "alttext", width: 600, height: 340%>
          </div>
        </div>
      </div>


    </div>


  </div>
  <div id="contact">
    <h2>Contact</h2>
    <div class="links">
      <a href="mailto:seigojinbo@gmail.com"><i class="far fa-envelope fa-2x"></i></a>

      <a href="https://www.linkedin.com/in/seigojinbo"><i class="fab fa-linkedin fa-2x"></i></a>
      <a href="'https://github.com/SeigoJinbo'"><i class="fab fa-github fa-2x"></i></a>
    </div>
  </div>


  <div class="icons">
    <i class="devicon-html5-plain"></i>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-html5-plain-wordmark colored"></i>
    <i class="devicon-css3-plain"></i>
    <i class="devicon-css3-plain-wordmark"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <i class="devicon-rails-plain-wordmark"></i>
    <i class="devicon-rails-plain-wordmark colored"></i>
    <i class="devicon-ruby-plain-wordmark"></i>
    <i class="devicon-github-plain-wordmark"></i>
  </div>
</div>
